@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: #ffffff;
    --secondary: #a1a1aa;
    --accent: #2563eb;
    --background: #000000;
    --surface: #0a0a0a;
    --border: #27272a;
    --font-main: 'Inter', sans-serif;
    --font-title: 'Outfit', sans-serif;
}

body {
    @apply bg-background text-primary font-main overflow-hidden h-screen w-screen antialiased;
}

h1,
h2,
h3 {
    @apply font-title tracking-tight;
}

.glass {
    @apply bg-white/[0.03] backdrop-blur-2xl border border-white/[0.05];
}

.glass-dark {
    @apply bg-black/40 backdrop-blur-3xl border border-white/[0.05];
}

.gradient-text {
    @apply bg-clip-text text-transparent bg-gradient-to-br from-white via-white to-zinc-500;
}

/* Custom scrollbar */
::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    @apply bg-transparent;
}

::-webkit-scrollbar-thumb {
    @apply bg-zinc-800 rounded-full hover:bg-zinc-700 transition-colors;
}

.mask-fade {
    mask-image: linear-gradient(to bottom, transparent, black 10%, black 90%, transparent);
}